---
layout: page
title: '📚 Trilhas'
nav_title: '📚 Trilhas'
permalink: /tutoriais/
---

{%- assign date_format = site.blog.date_format | default: "%d/%m/%Y" -%}

<p class="hub-intro">
  Séries temáticas de estudo e projetos estruturados passo a passo cobrindo desenvolvimento de software, infraestrutura, automação, Linux e arquitetura de sistemas.
</p>

<section class="grid">
  {%- for item in site.data.series -%}
    {%- assign key = item[0] -%}
    {%- assign serie = item[1] -%}
    {%- assign serie_posts = site.posts | where: "series", serie.title -%}
    {%- capture track_badge -%}
      {{ serie_posts.size }}{% if serie.total_planned %} de {{ serie.total_planned }}{% endif %} capítulos
    {%- endcapture -%}
    {% include card.html
      url=serie.url
      title=serie.title
      icon=serie.icon
      badge=track_badge
      description=serie.description
      action_text="Acessar Trilha"
    %}
  {%- endfor -%}
</section>
