<footer class="site-footer">
  <div class="container">
    <div class="footer-col-wrapper">
      
      <div class="footer-col">
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li><strong>{{ site.author.name | escape }}</strong></li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
          {% if site.author.tagline -%}
            <li><em>{{ site.author.tagline }}</em></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      
      <div class="footer-col">
        <p>{{ site.description }}</p>
      </div>
      
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>
  </div>
</footer>
