// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: "Source Serif 4", Georgia, serif;
$code-font-family: "Source Code Pro", "Inconsolata", monospace;
$base-font-size:   17px;
$base-line-height: 1.7;